@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@700&display=swap');

:root {
    --clr-darkgray: #2E323F;
    --clr-midgray: #3B4050;
    --clr-lightgray: #6F737F;
    --clr-white: #FFFFFF;
    --clr-gold: #A59678;

    --font-title: "Oswald", sans-serif;
    --font-body: "Montserrat", sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--font-body);
    font-weight: 400;
}

img {
    max-width: 100%;
}

a,
.btn {
    text-decoration: none;
    color: var(--clr-white);
}

a:focus,
a:hover {
    opacity: 0.75;
}

.container {
    width: min(80%, 1200px);
    margin: 0 auto;
    position: relative;
}

.title {
    font-family: var(--font-title);
    font-weight: 900;
}

.clr-gold {
    color: var(--clr-gold)
}

.text-center {
    text-align: center;
}


/* Navigation */

header {
    background: var(--clr-darkgray);
    padding: 1em 0;
}

.nav {
    width: 100%;
    visibility: hidden;
    height: 0;
    position: absolute;
    font-size: 1rem;
}

.nav--visible {
    visibility: visible;
    height: auto;
    position: relative;
}

.nav-toggle {
    border: 0;
    width: 3em;
    height: 3em;
    padding: 0em;
    border-radius: 50%;
    color: var(--clr-darkgray);
    background: var(--clr-white);
    transition: visibility 0.5s ease;

    position: absolute;
    right: 0;
}

.nav-toggle:focus,
.nav-toggle:hover {
    opacity: 0.75;
}

.bar1,
.bar2,
.bar3 {
    position: relative;
    display: block;
    width: 50%;
    height: 3px;
    margin: 0 auto;
    background: black;
    transition: 0.5s ease;
}

.bar1 {
    transform: translateY(-3px);
}

.bar3 {
    transform: translateY(3px
    );
}

.transform > .bar1 {
    transform: translateY(3px) rotate(-45deg);
}

.transform > .bar2 {
    opacity: 0;
}

.transform > .bar3 {
    transform: translateY(-3px) rotate(45deg);
}

.nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav__list--primary {
    margin-bottom: 2em;
}

.nav__item {
    margin: 1.5em 0;
}

.nav__link--button {
    background: var(--clr-gold);
    padding: 0.75em 2em;
    border-radius: 100px;
    font-weight: 900;
}

.logo {
    height: 30px;
}


/* Hero Section */

.hero {
    background: var(--clr-midgray);
    color: var(--clr-white);
    padding: 2em 0;
}

.hero--title {
    font-size: clamp(4rem, 10vw, 5.625rem);
    line-height: 1;
    margin-bottom: 0.75em;
}

.btn {
    display: inline-block;
    text-transform: uppercase;
    background-color: var(--clr-gold);
    padding: 0.75rem 2rem;
    border-radius: 100px;
    margin: 1em 0 0.75em;
}

.content-font-size {
    font-size: 24px;
}


@media (min-width: 700px) {
    .nav-toggle {
        display: none;
    }

    .nav {
        visibility: visible;
        display: flex;
        justify-content: flex-end;
        height: auto;
        position: relative;
    }

    .nav__list {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
    }

    .nav__list--primary {
        margin-right: 2em;
    }

    .nav__item + .nav__item {
        margin-left: 1em;
    }

    .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media (min-width: 1000px) {}