@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@700&display=swap');

:root {
    --clr-darkgray: #2E323F;
    --clr-midgray: #3B4050;
    --clr-lightgray: #6F737F;
    --clr-white: #FFFFFF;
    --clr-gold: #A59678;

    --font-title: "Oswald", sans-serif;
    --font-body: "Montserrat", sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--font-body);
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: var(--clr-white);
}

a:focus,
a:hover {
    opacity: 0.75;
}

.container {
    width: min(80%, 1200px);
    margin: 0 auto;
    position: relative;
}

.clr-gold {
    color: var(--clr-gold)
}

/* Navigation */

header {
    background: var(--clr-darkgray);
    padding: 1em 0;
    text-align: center;
}

.nav {
    width: 100%;
    visibility: hidden;
    height: 0;
    position: absolute;
    font-size: 1rem;
}

.nav--visible {
    visibility: visible;
    height: auto;
    position: relative;
}

.nav-toggle {
    border: 0;
    width: 3em;
    height: 3em;
    padding: 0em;
    border-radius: 50%;
    color: var(--clr-darkgray);
    background: var(--clr-white);
    transition: visibility 0.5s ease;

    position: absolute;
    right: 0;
}

.nav-toggle:focus,
.nav-toggle:hover {
    opacity: 0.75;
}

.bar1,
.bar2,
.bar3 {
    position: relative;
    display: block;
    width: 50%;
    height: 3px;
    margin: 0 auto;
    background: black;
    transition: 0.5s ease;
}

.bar1 {
    transform: translateY(-3px);
}

.bar3 {
    transform: translateY(3px
    );
}

.transform > .bar1 {
    transform: translateY(3px) rotate(-45deg);
}

.transform > .bar2 {
    opacity: 0;
}

.transform > .bar3 {
    transform: translateY(-3px) rotate(45deg);
}

.nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav__list--primary {
    margin-bottom: 2em;
}

.nav__item {
    margin: 1.5em 0;
}

.nav__link--button {
    background: var(--clr-gold);
    padding: 0.75em 2em;
    border-radius: 100px;
    font-weight: 900;
}

.logo {
    height: 30px;
}



@media (min-width: 700px) {}

@media (min-width: 1000px) {}